@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
}

li {
	list-style:none;
}

html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 25%, #CCE);
	background-size: cover;
}

@layer base {
  :root {
    --neutral-black: 0 0% 15%;
    --neutral-dark-grey: 0 0% 31%;
    --neutral-mid-grey: 0 0% 58%;
    --neutral-mid-light-grey: 0 0% 90%;
    --neutral-light-grey: 0 0% 96%;
    --background: 0 0% 100%;
    --foreground: 0 0% 15%; /* foreground = text color */
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 118 73% 67%;
    --primary-light: 118 73% 87%;
    --primary-foreground: 0 0% 15%;
    --secondary: 262 91% 56%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 56.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262 91% 56%;
    --radius: 0.75rem;
  }

  .dark {
    --neutral-dark-grey: 0 0% 31%;
    --neutral-black: 0 0% 31%;
    --neutral-mid-grey: 0 0% 58%;
    --neutral-mid-light-grey: 0 0% 90%;
    --neutral-light-grey: 0 0% 96%;
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-light: 118 73% 87% 1;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 262 91% 56%;
    --radius: 0.75rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .card-animation {
    transition: transform 0.15s ease-in-out
  }

  .card-animation:hover {
    transform: scale3d(1.05, 1.05, 1)
  }

  .bg-gradiente-circle-purple {
    background: radial-gradient(circle, #fff 25%, #CCE);
  }

  .bg-gradient-yellow-purple {
    background: linear-gradient(
      105deg,
      rgba(255, 221, 85, 0.4) -3.22%,
      rgba(98, 25, 221, 0.4) 100.17%
    );
  }

  .bg-gradient {
    background: linear-gradient(
      180deg,
      hsla(54, 50%, 87%, 0.4) 17%,
      hsla(0, 0%, 100%, 1) 58%,
      hsla(0, 0%, 100%, 1) 66%,
      hsla(270, 55%, 96%, 1) 92%
    );
  }

  @screen lg {
    .bg-gradient {
      background: linear-gradient(
        90deg,
        hsla(54, 50%, 87%, 0.4) 20%,
        hsla(0, 0%, 100%, 1) 50%,
        hsla(0, 0%, 100%, 1) 50%,
        hsla(270, 55%, 96%, 1) 80%
      );
    }
  }
}

#container {
	width: 290px;
	text-align: center;
	height:auto;
	margin:4px auto;
}
#calculadora {
	width: 234px;
	height: 230px;
	margin:0 auto;
	padding:2px;
	background-color: #65D277;
}
.input-valor {
	margin:8px auto;
	width:95%;
	height:30px;
	font-size: 16px;
	overflow:hidden;
	text-align: right;
	color:#48484D;
	padding: 4px;
	background-color:#fff;
	box-shadow: inset -1px -1px 4px 1px #eee;
}
.key li {
	width:50px;
	height:30px;
	border-radius:3px;
	color:#fff;
	background-color:#6C73FA;
	cursor:pointer;
	float:left;
	margin: 0px -3px 5px 8px;
	line-height: 30px;
	text-align: center;
	box-shadow: 0px 3px 1px 0px #444651;
}
.key li:hover {
	background-color: #BEF9F0;
	color: #6C73FA;
	transition:0.2s;
}
.key li:active {
	box-shadow: 0px 1px 1px 0px #444651;
}
.verificar {
	width: 93.4% !important;
}
